<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Proyectos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="data">
  <ion-card *ngFor="let dato of data">
    <div (click)="visibility(dato.title)">
      <img class="img-center" [src]="{{url}}/{{folder}}/images/{{ dato.image }}" *ngIf="dato.image != ''" class="header-image"/>
      <ion-card-header>

        <ion-card-title class="card-title">
          {{ dato.title }}
        </ion-card-title>

        <ion-icon id ="{{ dato.title }}-icon" name="chevron-forward-outline" size="large" class="right-icon"></ion-icon>
      </ion-card-header>

    </div>

      <div id="{{ dato.title }}" style="visibility: hidden; position:absolute;">

        <hr>

        <div *ngFor="let content of dato.content">
          <div *ngIf="content.type == 'text' ">
            <p class="texto" *ngFor="let paragraph of content.data">
              {{paragraph}}
            </p>
          </div>
          <div *ngIf="content.type == 'video' ">
            <iframe class="video" [src]="transform(content.data)" allowfullscreen></iframe>
          </div>
          <div *ngIf="content.type == 'button' " class="div-button">
            <ion-button color="base-color" href=" {{content.data }} ">{{content.text}}</ion-button>
          </div>
          <div *ngIf="content.type == 'image' ">
            <img class="image" [src]="{{url}}/{{folder}}/images/{{content.data}}">
          </div>
        </div>

      </div>

  </ion-card>

</ion-content>