<ion-header >
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Encuéntranos</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card *ngIf="data.map.visible" (click)="loadMap()">
    <ion-card-header> 
      <ion-card-title id="card_title">¿Dónde estamos?</ion-card-title>
      <ion-icon name="location" size="large" class="right-icon"></ion-icon>
    </ion-card-header>

    <div id="map" style="width:100%; height:20rem;"></div>

    <p id="group_description" *ngFor="let dato of data.address">{{ dato }}</p>


  </ion-card>

  <ion-card *ngIf="data.phone_number" href="tel:{{data.phone_number}}" *ngIf="data.phone_number">
    <ion-card-header > 
      <ion-card-title id="card_title">{{data.phone_number}}</ion-card-title>
      <ion-icon name="call" size="large" class="right-icon"></ion-icon>
    </ion-card-header>
  </ion-card>

  <ion-card *ngIf="data.email" href="mailto:{{data.email}}" *ngIf="data.email">
    <ion-card-header> 
      <ion-card-title id="card_title">{{data.email}}</ion-card-title>
      <ion-icon name="mail" size="large" class="right-icon"></ion-icon>
    </ion-card-header>
  </ion-card>


</ion-content>
