<ion-content [fullscreen]="true">

  <div id="group_info">
    <h1 id="group_name">
      {{ datos["Group name"] }}
    </h1>
    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
      <path fill="#ffffff" fill-opacity="1"
        d="M0,256L80,261.3C160,267,320,277,480,250.7C640,224,800,160,960,154.7C1120,149,1280,203,1360,229.3L1440,256L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
      </path>
      <path fill="#f1f1f1" fill-opacity="1"
        d="M0,256L80,261.3C160,267,320,277,480,250.7C640,224,800,160,960,154.7C1120,149,1280,203,1360,229.3L1440,256L1440,320L1360,320C1280,320,1120,320,960,320C800,320,640,320,480,320C320,320,160,320,80,320L0,320Z">
      </path>
    </svg>
  </div>

  <ion-card>
    <ion-card-header>
      <ion-card-title id="card_title">TEP-952</ion-card-title>
    </ion-card-header>
    <hr>
    <p id="group_description">
      {{ datos["Group description"] }}
    </p>
  </ion-card>

  <div *ngFor="let dato of datos['Home']">

    <ion-card *ngIf="dato['type'] == 'Tarjeta'">
      <img src="../assets/images/{{ dato['data']['image'] }}" *ngIf="dato['data']['image'] != ''" />
      <ion-card-header>
        <ion-card-title id="card_title">{{ dato.data.title }}</ion-card-title>
      </ion-card-header>
    </ion-card>
    

    <ion-card *ngIf="dato.type == 'Members' && dato.visible">
      <ion-card-header>
        <ion-card-title id="card_title">Miembros</ion-card-title>
      </ion-card-header>
      <hr>
      <ion-list>
        <ion-item *ngFor="let dato of datos['Members']">
          <ion-item href="mailto:{{dato.email}}">
            <ion-avatar slot="start">
              <img src="../assets/images/{{dato.image}}">
            </ion-avatar>
            <ion-label text-wrap>
              <h2>{{ dato.name }}</h2>
              <h3>{{dato.description}}</h3>
              <p>{{dato.email}}</p>
              <p>{{dato.phone_number}}</p>
            </ion-label>
          </ion-item>
        </ion-item>

      </ion-list>
    </ion-card>

  </div>

</ion-content>