<ion-content [fullscreen]="true">
  
  <ion-object>
    <h1 id="nombre_del_grupo">
      {{ datos["Nombre del grupo"] }}
    </h1>
  </ion-object>

  <ion-object>
    <p>
      {{ datos["Descripción del grupo"] }}
    </p>
  </ion-object>

  <ion-list>
    <ion-object *ngFor="let dato of datos['bloques']">
      <ion-card *ngIf="dato['tipo'] == 'Tarjeta'">
        <ion-card-header>
          <ion-card-title>{{ dato["título"] }}</ion-card-title>
        </ion-card-header>
        
      </ion-card>
    </ion-object>
  </ion-list>

</ion-content>
