ion-content{
  --ion-background-color: #e0e0e0;
}

ion-item{
  --ion-background-color: white;
}


ion-avatar  { 
    width: 5rem;
    height: 5rem;
  }

  .contact-row{
    text-align:center;
  }

 .button-text{
  color: white;
  padding-left: 10px;
 }